* {
  font-family: "Inter", sans-serif;
}

/* HEADER */

header nav ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #0d0c22;
}

header nav ul li:last-child a {
  color: #ec54a7;
}

header nav form button {
  width: 110px;
  height: 45px;
  left: 2354px;
  top: 28px;
  color: white;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 17px;
  background: #151515;
  border-radius: 8px;
  margin-left: 24px;
  margin-right: 24px;
}

header nav form input {
  width: 300px;
  height: 45px;
  background: #f4f5fb;
  border-radius: 21px;
  border: none;
}

header nav form .search {
  position: absolute;
  padding-left: 20px;
}

::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #6e6d7a;
  padding-left: 50px;
}

/* NAV */
.navigate li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigate li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 12px;
  gap: 10px;
  color: #6E6D7A;
}

.navigate ul li .active {
  width: 82px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 12px;
  gap: 10px;
  background: #F1F1F1 !important;
  border-radius: 8px;
  color: black !important;
}

.button-01 {
  border: 1px solid #E9E9E9;
  color: #6E6D7A;
  border-radius: 8px;
  background-color: white;
  font-size: 14px;
}

.button-filter {
  padding-left: 30px;
}

.img-filter {
  position: absolute;
  top: 12px;
  left: 25px;
  width: 14px;
}

.p-35 {
  padding-left: 35px;
  padding-right: 35px;
}

/* MAIN  */
main .card{
  border: none;
}
main .card .infor-card .infor-card-left p {
  font-size: 14px;
  margin-bottom: 0;
}

main .card .infor-card .infor-card-right .like p {
  font-size: 12px;
  margin-bottom: 0;

}

main .card .infor-card .infor-card-right .view p {
  font-size: 12px;
  margin-bottom: 0;
}